.contents {
  background-color: white;
  padding: 20px;
  margin: 50px 0;
  width: 600px;

}

.brand-logo {
  font-weight: bold;
  /* float: left; */
}

.tweet-box {
  background-color: white;
  border: solid 1px white;
  margin: 5px;
  padding: 5px;
  border-radius: 4px 20px 4px 20px;
  box-shadow:0px 0px 6px 1px #e5c9ce;

}

.left-box {
  float: left;
  margin-right: 10px;
}

.user-image {
  width: 30px;
  height: 30px;
}

.right-box {
  overflow: hidden;
}

.btns {
  float:right;
  border: solid 1px white;
  font-size: 15px;
  text-decoration: none;
  text-decoration-color: #fff;
  background-color: rgb(240, 233, 234);
  padding: 3px;
  border-radius: 4px;
  font-weight: bold;
}
.edit-link {
  color: white;
}
